<section id="services" class="services">
  <div class="container">
    <a routerLink="/products" class="btn">BUSCAR PRODUCTOS</a>
    <div class="services-title">
      <h5>TE TRAEMOS LO MEJOR</h5>
      <h3>POR QUE ESCOGERNOS</h3>
      <hr class="opacity-100 line" />
    </div>
    <div class="service-list">
      <div class="row">
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
        <div class="col service">
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Circular_buffer.svg/1200px-Circular_buffer.svg.png"
            alt="Someimg"
            class="service-img"
          />
          <div class="service-content">
            <h3 class="service-title">Lorem Ipsum</h3>
            <p class="service-text">
              Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem
              ipsum Lorem ipsum Lorem
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
