<section id="pricing">
  <div id="pricing-container" class="container">
    <div id="pricing-title" class="pricing-title text-center text-uppercase">
      <h5>Contrate nuestro servicio de entrega premium</h5>
      <h3>PROMOCIONES EN ENVÍOS</h3>
      <hr class="opacity-100 line">
    </div>
    <div id="pricing-row" class="row">
      <div style="background-color:#455A64" class="col-md-4 col-sm-12">
        <div class="pricing-box-06">
          <div class="pricing-box-06-head">
            <h3><sup>S/.</sup>15.00</h3>
            <h4>Delivery PRO</h4>
          </div>
          <div class="pricing-box-06-body">
            <ul>
              <li>Envíos de 8 a 6</li>
              <li>Directo a su calle</li>
              <li>Hasta 10 kg</li>
            </ul>
          </div>
          <div class="pricing-box-06-foot">
            <a href="#" class="btn btn-primary">¡Pídalo Ya!</a>
          </div>
        </div>
      </div>
      <div style="background-color:#0097A7" class="col-md-4 col-sm-12 wow fadeIn">
        <div class="pricing-box-06">
          <div class="pricing-box-06-head">
            <h3><sup>S/.</sup>45.00</h3>
            <h4>Delivery Personal</h4>
          </div>
          <div class="pricing-box-06-body">
            <ul>
              <li>Envíos las 24 horas</li>
              <li>Directo a su puerta</li>
              <li>Hasta 20 kg</li>
            </ul>
          </div>
          <div class="pricing-box-06-foot">
            <a href="#" class="btn btn-primary">¡Pídalo Ya!</a>
          </div>
        </div>
      </div>
      <div style="background-color:#F1773D" class="col-md-4 col-sm-12 wow fadeIn">
        <div class="pricing-box-06">
          <div class="pricing-box-06-head">
            <h3><sup>S/.</sup>60.00</h3>
            <h4>Delivery Instantaneo</h4>
          </div>
          <div class="pricing-box-06-body">
            <ul>
              <li>Envíos las 24 horas</li>
              <li>Directo a su casa</li>
              <li>Sin límite de peso</li>
            </ul>
          </div>
          <div class="pricing-box-06-foot">
            <a href="#" class="btn btn-primary">¡Pídalo Ya!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
