<header class="header">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container py-4 d-flex justify-content-around">
      <a class="navbar-brand" routerLink="/">BestHardware</a>
      <ul class="navbar-nav d-flex align-items-center">
        <li class="nav-item me-3">
          <a class="nav-link home-link" aria-current="page" routerLink="/">INICIO</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="#services">SERVICIOS</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="#pricing">PROMOCIONES</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="#news">NOTICIAS</a>
        </li>
        <li class="nav-item me-3 nav-sublist-container">
          <a class="nav-link" aria-current="page" routerLink="/providers">PROVEEDORES</a>
          <ul class="dropdown-menu nav-sublist">
            <li><a class="nav-sublist-item" href="#">Action</a></li>
            <li><a class="nav-sublist-item" href="#">Another action</a></li>
            <li><a class="nav-sublist-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" aria-current="page" href="#">CONTACTO</a>
        </li>
        <li class="nav-item ms-4">
          <a class="btn px-4 py-2 btn-border" aria-current="page" routerLink="/products"><i class="fa-solid fa-magnifying-glass"></i> | BUSCAR PRODUCTOS</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <nav class="navbar navbar-expand-lg bg-light navbar-responsive">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">BestHardware</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-3">
            <a class="nav-link home-link" aria-current="page" routerLink="/">INICIO</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" href="#services">SERVICIOS</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" href="#pricing">PROMOCIONES</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" href="#news">NOTICIAS</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" href="#sedes">SEDES</a>
          </li>
          <li class="nav-item me-3">
            <a class="nav-link" aria-current="page" href="#news">NOTICIAS</a>
          </li>
          <li class="nav-item ms-4">
            <a class="btn px-4 py-2 btn-border" aria-current="page" routerLink="/products"><i class="fa-solid fa-magnifying-glass"></i> | BUSCAR PRODUCTOS</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
