<section id="products">
  <div class="container">
    <h5 class="fs-2 fw-bold">Productos</h5>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col" *ngFor="let product of products">
        <!-- PRODUCT CARD -->
        <div class="card">
          <img src="{{ baseUrl }}/{{ product.ProductImageUrl }}" class="card-img-top" alt="{{ product.ProductName }}">
          <div class="card-body">
            <h5 class="card-title">{{product.ProductName}}</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">ID: <span class="fw-bold">{{ product.ProductID }}</span></li>
            <li class="list-group-item">Precio: <span class="fw-bold">S/. {{ product.ProductPrice}}</span></li>
            <li class="list-group-item">Stock: {{ product.ProductStock }}</li>
          </ul>
        </div>
      </div>
  </div>
  </div>
</section>

