<section id="news" class="container">
    
    <div class="center">
      <h5>NOTICIAS DESTACADAS </h5>
    <h3>RECIENTE</h3>
      <hr class="line opacity-100">
    </div>

  <div class="row justify-content-evenly">
      <div class="col">
        <img src="assets/noti1.png" alt="Noticia">
        <div class="">
          <a href=""><b>Mark Zuckerberg perdió la mitad de su fortuna por su giro al metaverso</b></a>
          <p>Maecenas pellentesque odio a lectus congue, non nisl consequat. Vivamus scelerisque ipsum a purus ornare
          lacinia</p>
        </div>
      </div>
      <div class="col">
        <img src="assets/noti2.png" alt="Noticia">
        <div class="">
          <a href=""><b>Empresas piden subsidio para acelerar la adopción de dispositivos 5G</b></a>
          <p>Etiam consectetur risus ac dui finibus, sit amet diam fermentum. Mauris at erat eget ipsum tempus congue.</p>
        </div>
      </div>

      <div class="col">
        <img src="assets/noti3.png" alt="Noticia">
        <div class="">
          <a href=""><b> Honor 70: ¿Llegará al Perú el nuevo smartphone presentado en el IFA Berlín 2022?</b></a>
          <p>Maecenas laoreet mi eget ligula gravida, eu fringilla scelerisque. Vivamus eget odio in eros blandit feugiat vel eget nisi.</p>
        </div>
      </div>

      <div class="col">
        <img src="assets/noti4.png" alt="Noticia">
        <div class="">
          <a href=""><b>10 ajustes para comprobar el iPhone 14 Pro</b></a>
          <p>Suspendisse feugiat mi a diam sollicitudin, venenatis augue maximus. Donec fringilla orci eget porta auctor.</p>
        </div>
      </div>
  </div>
</section>
