<section id="gestores">
  <div class="container">
    <div class="center">
      <h5>LOS 5 MEJORES GESTORES DE CONTENIDOS EN LA ACTUALIDAD</h5>
      <h3>RANKING</h3>
        <hr class="opacity-100 line">
    </div>
    <div class="row justify-content-evenly">
        <div class="col">
          <img src="assets/gestor1.png" alt="Cliente">     
        </div>

        <div class="col">
          <img src="assets/gestor2.png" alt="Cliente"> 
        </div>

        <div class="col">
          <img src="assets/gestor3.png" alt="Cliente">
        </div>

        <div class="col">
          <img src="assets/gestor4.png" alt="Cliente">
        </div>
    </div>
  </div>
</section>
