#gestores{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F8F9FB;
}

.col a{
    text-decoration: none;
    color: black;

}

.center{
    text-align: center;
    padding-bottom: 45px;
}

p{
    color: #979797;
    font-size: 14px;
    line-height: 26px
}
img{
    width: 16rem;
    margin-bottom: 45px;

}
h3{
   
    font-weight:700;
    text-transform: uppercase;

   
}
h5{
   
    color: var(--color6); 
    font-size: 15px; 
    font-size: 15px;
    font-weight: normal;
    line-height: 1;
    text-transform: uppercase;
    padding: 0;
  
    
}
